<div class="row">
    <div class="col-12">
        <div class="p-2 row p-0 m-0">
            <div class="col-12 m-0 p-0 adv">
                <h2  >انجام کلیهdddddddddddd خدمات جوشکاری و برشکاری فلزات </h2>
            </div>
        </div>

        <div class="row  ">
            <div class="col-md-12">
                <div class="live__scroll ">
                    <div class="row text-center">
                        <div class=" live__scroll--box"><img  class="myImg" alt="<%- host%>/panel/bAdv/1.jpg" src="<%- host%>/panel/bAdv/1.jpg" height="100"></div>
                        <div class=" live__scroll--box"><img  class="myImg" alt="انجام کلیه خدمات جوشکاری و برشکاری فلزات" src="welder.jpg" height="100"></div>
                        <div class=" live__scroll--box"><img  class="myImg" alt="انجام کلیه خدمات جوشکاری و برشکاری فلزات" src="creating-a-safe-welding-environment-0.jpg" height="100"></div>
                        <div class=" live__scroll--box"><img  class="myImg" alt="انجام کلیه خدمات جوشکاری و برشکاری فلزات" src="300px-GOPR4674.jpg" height="100"></div>
                        <div class=" live__scroll--box"><img  class="myImg" alt="انجام کلیه خدمات جوشکاری و برشکاری فلزات" src="welder.jpg" height="100"></div>
                        <div class=" live__scroll--box"><img  class="myImg" alt="انجام کلیه خدمات جوشکاری و برشکاری فلزات" src="creating-a-safe-welding-environment-0.jpg" height="100"></div>

                    </div>
                </div>
            </div>
            <div class="p-2 row p-0 m-0">
                <div class="col-12 m-0 p-0 adv">
                    <h3  > توضیحات آگهی</h3>
                    <p>
                        خدمات فنی مهندسی توچال تهویه اماده خدمت رسانی به شهروندان عزیز تهرانی میباشد.
                    </p><p> خدمات شامل :
                    </p><p>   نصب اصولی و استاندارد با گارانتی حداقل یکساله
                    </p><p>    تعمیرات تخصصی انواع اسپیلت
                    </p><p>    تعویض تخصصی شیر برقی
                    </p><p>   تعویض تخصصی کمپرسور
                    </p><p>     لوله کشی توکار و روکار
                    </p><p>     شارژ گاز کامل و تکمیلی
                    </p><p>    نشت یابی تخصصی با گارانتی
                    </p><p>     مامی خدمات در حضور مشتری و در محل انجام میشود.
                    </p><p>     تمامی خدمات با ارایه فاکتور و گارانتی ۶ماهه تا ۳ ساله انجام میشود.
                    </p><p>     دمات در غرب شمال غرب و شمال تهران در اسرع وقت پذیرفته میشود.

                    </p>
                    <h3  >راه های تماس</h3>
                    <div class="col-sm-12">
                        <span class="fa fa-phone" ></span> 09182858251-08632865877
                    </div>
                    <div class="col-sm-12">
                        <div align="center">
                            <a href="#" class="custom-link"><img src="<%- host%>/local/images/telegram.png" height="30"></a>
                            <a href="#" class="custom-link pr-2"><img src="<%- host%>/local/images/instagram.png" height="30"></a>
                            <a href="#" class="custom-link pr-1"><img src="<%- host%>/local/images/twitter.png" height="30"></a>

                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
<hr>