<!DOCTYPE html>
<html   dir=rtl lang=fa>
<%- include("layouts/head.ejs",{
title:"سقف مردم" ,
des:"" ,
pageUrl:"https://saghfemardom.ir"
}) %>
<body   >

<% include layouts/svg.ejs %>

<%- include layouts/header.ejs%>



<div class="container" style="margin-top:10px">


    <div class="row">
        <div class="col-12 shadow-sm bg-white mt-1 pt-1 pb-1">
            <div align="right">
                <h1 class="mainHeader text-dark">سقف مردم ..... سقف مردم</h1>

            </div>

        </div>
    </div>
    <div class="row"  style="margin-top:10px">

        <div class="col-md-3 mb-md-0  mb-1 newsBar">
            <%- include("layouts/news.ejs",{
            res:res
            }) %>
        </div>
        <div class="col-md-6 mb-md-0 mb-1 ">
            <div class="row pl-md-2  ">
                <div class="col-md-12 shadow-sm border pb-1  bg-white text-dark">
                    <div class="p-2 row p-0">
                        <div class="col-12 m-0 p-0">
                            <h2  class="boxesWline linkColor">آگهی های ارسال شده </h2>
                        </div>
                    </div>
                    <div class="row  mt-1">
                        <div class="col-md-12 ">
                            <div class="row">
                                <div class="col-12 col-md-6 p-1" >
                                    <select name="aa" class="form-control filterInput">
                                        <option>همه دسته بندی ها</option>
                                        <option>کسب و کارها</option>
                                        <option>کارگاه های صنعتی</option>
                                        <option>کارگاه های تولیدی</option>
                                    </select>

                                </div>
                                <div class="col-12 col-md-6  p-1" >
                                    <select name="aa" class="form-control filterInput">
                                        <option>همه گروه ها</option>
                                        <option>تولیدی یک</option>
                                        <option>تولیدی دو</option>
                                        <option>تولیدی سه</option>
                                        <option>تولیدی چهار</option>
                                    </select>

                                </div>
                                <div class="col-12 col-md-6  p-1" >
                                    <select name="aa" class="form-control filterInput">
                                        <option>همه ایران</option>
                                        <option>تهران</option>
                                        <option>مرکزی</option>
                                        <option>فارس</option>
                                        <option>اصفهان</option>
                                        <option>خراسان رضوی</option>
                                        <option>آذربایجان شرقی</option>
                                        <option>ایلام</option>
                                        <option>خوزستان</option>
                                    </select>

                                </div>
                                <div class="col-12 col-md-6  p-1" >
                                    <input name="aa" class="form-control filterInput" placeholder="جستجوی ...">

                                </div>
                                <div class="col-12  p-1" >
                                    <button class="btn btn-info btn-sm btn-block" > جستجو</button>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="col-md-12 shadow-sm border pb-1 mt-2 bg-white text-dark">
                    <div class="row">
                        <div class="col-12">
                            <div class="p-2 row p-0 m-0">
                                <div class="col-12 m-0 p-0 adv">
                                    <h2  >انجام کلیهdddddddddddd خدمات جوشکاری و برشکاری فلزات </h2>
                                </div>
                            </div>

                            <div class="row  ">
                                <div class="col-md-12">
                                    <div class="live__scroll ">
                                        <div class="row text-center">
                                            <div class=" live__scroll--box"><img  class="myImg" alt="<%- host%>/panel/bAdv/1.jpg" src="<%- host%>/panel/bAdv/1.jpg" height="100"></div>
                                            <div class=" live__scroll--box"><img  class="myImg" alt="انجام کلیه خدمات جوشکاری و برشکاری فلزات" src="welder.jpg" height="100"></div>
                                            <div class=" live__scroll--box"><img  class="myImg" alt="انجام کلیه خدمات جوشکاری و برشکاری فلزات" src="creating-a-safe-welding-environment-0.jpg" height="100"></div>
                                            <div class=" live__scroll--box"><img  class="myImg" alt="انجام کلیه خدمات جوشکاری و برشکاری فلزات" src="300px-GOPR4674.jpg" height="100"></div>
                                            <div class=" live__scroll--box"><img  class="myImg" alt="انجام کلیه خدمات جوشکاری و برشکاری فلزات" src="welder.jpg" height="100"></div>
                                            <div class=" live__scroll--box"><img  class="myImg" alt="انجام کلیه خدمات جوشکاری و برشکاری فلزات" src="creating-a-safe-welding-environment-0.jpg" height="100"></div>

                                        </div>
                                    </div>
                                </div>
                                <div class="p-2 row p-0 m-0">
                                    <div class="col-12 m-0 p-0 adv">
                                        <h3  > توضیحات آگهی</h3>
                                        <p>
                                            خدمات فنی مهندسی توچال تهویه اماده خدمت رسانی به شهروندان عزیز تهرانی میباشد.
                                        </p><p> خدمات شامل :
                                        </p><p>   نصب اصولی و استاندارد با گارانتی حداقل یکساله
                                        </p><p>    تعمیرات تخصصی انواع اسپیلت
                                        </p><p>    تعویض تخصصی شیر برقی
                                        </p><p>   تعویض تخصصی کمپرسور
                                        </p><p>     لوله کشی توکار و روکار
                                        </p><p>     شارژ گاز کامل و تکمیلی
                                        </p><p>    نشت یابی تخصصی با گارانتی
                                        </p><p>     مامی خدمات در حضور مشتری و در محل انجام میشود.
                                        </p><p>     تمامی خدمات با ارایه فاکتور و گارانتی ۶ماهه تا ۳ ساله انجام میشود.
                                        </p><p>     دمات در غرب شمال غرب و شمال تهران در اسرع وقت پذیرفته میشود.

                                        </p>
                                        <h3  >راه های تماس</h3>
                                        <div class="col-sm-12">
                                            <span class="fa fa-phone" ></span> 09182858251-08632865877
                                        </div>
                                        <div class="col-sm-12">
                                            <div align="center">
                                                <a href="#" class="custom-link"><img src="<%- host%>/local/images/telegram.png" height="30"></a>
                                                <a href="#" class="custom-link pr-2"><img src="<%- host%>/local/images/instagram.png" height="30"></a>
                                                <a href="#" class="custom-link pr-1"><img src="<%- host%>/local/images/twitter.png" height="30"></a>

                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-12">
                            <div class="p-2 row p-0 m-0">
                                <div class="col-12 m-0 p-0 adv">
                                    <h2  >انجام کلیه خدمات جوشکاری و برشکاری فلزات </h2>
                                </div>
                            </div>

                            <div class="row  ">
                                <div class="col-md-12">
                                    <div class="live__scroll ">
                                        <div class="row text-center">
                                            <div class=" live__scroll--box"><img  class="myImg" alt="انجام کلیه خدمات جوشکاری و برشکاری فلزات" src="300px-GOPR4674.jpg" height="100"></div>
                                            <div class=" live__scroll--box"><img  class="myImg" alt="انجام کلیه خدمات جوشکاری و برشکاری فلزات" src="welder.jpg" height="100"></div>
                                            <div class=" live__scroll--box"><img  class="myImg" alt="انجام کلیه خدمات جوشکاری و برشکاری فلزات" src="creating-a-safe-welding-environment-0.jpg" height="100"></div>
                                            <div class=" live__scroll--box"><img  class="myImg" alt="انجام کلیه خدمات جوشکاری و برشکاری فلزات" src="300px-GOPR4674.jpg" height="100"></div>
                                            <div class=" live__scroll--box"><img  class="myImg" alt="انجام کلیه خدمات جوشکاری و برشکاری فلزات" src="welder.jpg" height="100"></div>
                                            <div class=" live__scroll--box"><img  class="myImg" alt="انجام کلیه خدمات جوشکاری و برشکاری فلزات" src="creating-a-safe-welding-environment-0.jpg" height="100"></div>

                                        </div>
                                    </div>
                                </div>
                                <div class="p-2 row p-0 m-0">
                                    <div class="col-12 m-0 p-0 adv">
                                        <h3  > توضیحات آگهی</h3>
                                        <p>
                                            خدمات فنی مهندسی توچال تهویه اماده خدمت رسانی به شهروندان عزیز تهرانی میباشد.
                                        </p><p> خدمات شامل :
                                        </p><p>   نصب اصولی و استاندارد با گارانتی حداقل یکساله
                                        </p><p>    تعمیرات تخصصی انواع اسپیلت
                                        </p><p>    تعویض تخصصی شیر برقی
                                        </p><p>   تعویض تخصصی کمپرسور
                                        </p><p>     لوله کشی توکار و روکار
                                        </p><p>     شارژ گاز کامل و تکمیلی
                                        </p><p>    نشت یابی تخصصی با گارانتی
                                        </p><p>     مامی خدمات در حضور مشتری و در محل انجام میشود.
                                        </p><p>     تمامی خدمات با ارایه فاکتور و گارانتی ۶ماهه تا ۳ ساله انجام میشود.
                                        </p><p>     دمات در غرب شمال غرب و شمال تهران در اسرع وقت پذیرفته میشود.

                                        </p>
                                        <h3  >راه های تماس</h3>
                                        <div class="col-sm-12">
                                            <span class="fa fa-phone" ></span> 09182858251-08632865877
                                        </div>
                                        <div class="col-sm-12">
                                            <div align="center">
                                                <a href="#" class="custom-link"><img src="<%- host%>/local/images/telegram.png" height="30"></a>
                                                <a href="#" class="custom-link pr-2"><img src="<%- host%>/local/images/instagram.png" height="30"></a>
                                                <a href="#" class="custom-link pr-1"><img src="<%- host%>/local/images/twitter.png" height="30"></a>

                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-12">
                            <div class="p-2 row p-0 m-0">
                                <div class="col-12 m-0 p-0 adv">
                                    <h2  >انجام کلیه خدمات جوشکاری و برشکاری فلزات </h2>
                                </div>
                            </div>

                            <div class="row  ">
                                <div class="col-md-12">
                                    <div class="live__scroll ">
                                        <div class="row text-center">
                                            <div class=" live__scroll--box"><img  class="myImg" alt="انجام کلیه خدمات جوشکاری و برشکاری فلزات" src="300px-GOPR4674.jpg" height="100"></div>
                                            <div class=" live__scroll--box"><img  class="myImg" alt="انجام کلیه خدمات جوشکاری و برشکاری فلزات" src="welder.jpg" height="100"></div>
                                            <div class=" live__scroll--box"><img  class="myImg" alt="انجام کلیه خدمات جوشکاری و برشکاری فلزات" src="creating-a-safe-welding-environment-0.jpg" height="100"></div>
                                            <div class=" live__scroll--box"><img  class="myImg" alt="انجام کلیه خدمات جوشکاری و برشکاری فلزات" src="300px-GOPR4674.jpg" height="100"></div>
                                            <div class=" live__scroll--box"><img  class="myImg" alt="انجام کلیه خدمات جوشکاری و برشکاری فلزات" src="welder.jpg" height="100"></div>
                                            <div class=" live__scroll--box"><img  class="myImg" alt="انجام کلیه خدمات جوشکاری و برشکاری فلزات" src="creating-a-safe-welding-environment-0.jpg" height="100"></div>

                                        </div>
                                    </div>
                                </div>
                                <div class="p-2 row p-0 m-0">
                                    <div class="col-12 m-0 p-0 adv">
                                        <h3  > توضیحات آگهی</h3>
                                        <p>
                                            خدمات فنی مهندسی توچال تهویه اماده خدمت رسانی به شهروندان عزیز تهرانی میباشد.
                                        </p><p> خدمات شامل :
                                        </p><p>   نصب اصولی و استاندارد با گارانتی حداقل یکساله
                                        </p><p>    تعمیرات تخصصی انواع اسپیلت
                                        </p><p>    تعویض تخصصی شیر برقی
                                        </p><p>   تعویض تخصصی کمپرسور
                                        </p><p>     لوله کشی توکار و روکار
                                        </p><p>     شارژ گاز کامل و تکمیلی
                                        </p><p>    نشت یابی تخصصی با گارانتی
                                        </p><p>     مامی خدمات در حضور مشتری و در محل انجام میشود.
                                        </p><p>     تمامی خدمات با ارایه فاکتور و گارانتی ۶ماهه تا ۳ ساله انجام میشود.
                                        </p><p>     دمات در غرب شمال غرب و شمال تهران در اسرع وقت پذیرفته میشود.

                                        </p>
                                        <h3  >راه های تماس</h3>
                                        <div class="col-sm-12">
                                            <span class="fa fa-phone" ></span> 09182858251-08632865877
                                        </div>
                                        <div class="col-sm-12">
                                            <div align="center">
                                                <a href="#" class="custom-link"><img src="<%- host%>/local/images/telegram.png" height="30"></a>
                                                <a href="#" class="custom-link pr-2"><img src="<%- host%>/local/images/instagram.png" height="30"></a>
                                                <a href="#" class="custom-link pr-1"><img src="<%- host%>/local/images/twitter.png" height="30"></a>

                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-12">
                            <div class="p-2 row p-0 m-0">
                                <div class="col-12 m-0 p-0 adv">
                                    <h2  >انجام کلیه خدمات جوشکاری و برشکاری فلزات </h2>
                                </div>
                            </div>

                            <div class="row  ">
                                <div class="col-md-12">
                                    <div class="live__scroll ">
                                        <div class="row text-center">
                                            <div class=" live__scroll--box"><img  class="myImg" alt="انجام کلیه خدمات جوشکاری و برشکاری فلزات" src="300px-GOPR4674.jpg" height="100"></div>
                                            <div class=" live__scroll--box"><img  class="myImg" alt="انجام کلیه خدمات جوشکاری و برشکاری فلزات" src="welder.jpg" height="100"></div>
                                            <div class=" live__scroll--box"><img  class="myImg" alt="انجام کلیه خدمات جوشکاری و برشکاری فلزات" src="creating-a-safe-welding-environment-0.jpg" height="100"></div>
                                            <div class=" live__scroll--box"><img  class="myImg" alt="انجام کلیه خدمات جوشکاری و برشکاری فلزات" src="300px-GOPR4674.jpg" height="100"></div>
                                            <div class=" live__scroll--box"><img  class="myImg" alt="انجام کلیه خدمات جوشکاری و برشکاری فلزات" src="welder.jpg" height="100"></div>
                                            <div class=" live__scroll--box"><img  class="myImg" alt="انجام کلیه خدمات جوشکاری و برشکاری فلزات" src="creating-a-safe-welding-environment-0.jpg" height="100"></div>

                                        </div>
                                    </div>
                                </div>
                                <div class="p-2 row p-0 m-0">
                                    <div class="col-12 m-0 p-0 adv">
                                        <h3  > توضیحات آگهی</h3>
                                        <p>
                                            خدمات فنی مهندسی توچال تهویه اماده خدمت رسانی به شهروندان عزیز تهرانی میباشد.
                                        </p><p> خدمات شامل :
                                        </p><p>   نصب اصولی و استاندارد با گارانتی حداقل یکساله
                                        </p><p>    تعمیرات تخصصی انواع اسپیلت
                                        </p><p>    تعویض تخصصی شیر برقی
                                        </p><p>   تعویض تخصصی کمپرسور
                                        </p><p>     لوله کشی توکار و روکار
                                        </p><p>     شارژ گاز کامل و تکمیلی
                                        </p><p>    نشت یابی تخصصی با گارانتی
                                        </p><p>     مامی خدمات در حضور مشتری و در محل انجام میشود.
                                        </p><p>     تمامی خدمات با ارایه فاکتور و گارانتی ۶ماهه تا ۳ ساله انجام میشود.
                                        </p><p>     دمات در غرب شمال غرب و شمال تهران در اسرع وقت پذیرفته میشود.

                                        </p>
                                        <h3  >راه های تماس</h3>
                                        <div class="col-sm-12">
                                            <span class="fa fa-phone" ></span> 09182858251-08632865877
                                        </div>
                                        <div class="col-sm-12">
                                            <div align="center">
                                                <a href="#" class="custom-link"><img src="<%- host%>/local/images/telegram.png" height="30"></a>
                                                <a href="#" class="custom-link pr-2"><img src="<%- host%>/local/images/instagram.png" height="30"></a>
                                                <a href="#" class="custom-link pr-1"><img src="<%- host%>/local/images/twitter.png" height="30"></a>

                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-12">
                            <div class="p-2 row p-0 m-0">
                                <div class="col-12 m-0 p-0 adv">
                                    <h2  >انجام کلیه خدمات جوشکاری و برشکاری فلزات </h2>
                                </div>
                            </div>

                            <div class="row  ">
                                <div class="col-md-12">
                                    <div class="live__scroll ">
                                        <div class="row text-center">
                                            <div class=" live__scroll--box"><img  class="myImg" alt="انجام کلیه خدمات جوشکاری و برشکاری فلزات" src="300px-GOPR4674.jpg" height="100"></div>
                                            <div class=" live__scroll--box"><img  class="myImg" alt="انجام کلیه خدمات جوشکاری و برشکاری فلزات" src="welder.jpg" height="100"></div>
                                            <div class=" live__scroll--box"><img  class="myImg" alt="انجام کلیه خدمات جوشکاری و برشکاری فلزات" src="creating-a-safe-welding-environment-0.jpg" height="100"></div>
                                            <div class=" live__scroll--box"><img  class="myImg" alt="انجام کلیه خدمات جوشکاری و برشکاری فلزات" src="300px-GOPR4674.jpg" height="100"></div>
                                            <div class=" live__scroll--box"><img  class="myImg" alt="انجام کلیه خدمات جوشکاری و برشکاری فلزات" src="welder.jpg" height="100"></div>
                                            <div class=" live__scroll--box"><img  class="myImg" alt="انجام کلیه خدمات جوشکاری و برشکاری فلزات" src="creating-a-safe-welding-environment-0.jpg" height="100"></div>

                                        </div>
                                    </div>
                                </div>
                                <div class="p-2 row p-0 m-0">
                                    <div class="col-12 m-0 p-0 adv">
                                        <h3  > توضیحات آگهی</h3>
                                        <p>
                                            خدمات فنی مهندسی توچال تهویه اماده خدمت رسانی به شهروندان عزیز تهرانی میباشد.
                                        </p><p> خدمات شامل :
                                        </p><p>   نصب اصولی و استاندارد با گارانتی حداقل یکساله
                                        </p><p>    تعمیرات تخصصی انواع اسپیلت
                                        </p><p>    تعویض تخصصی شیر برقی
                                        </p><p>   تعویض تخصصی کمپرسور
                                        </p><p>     لوله کشی توکار و روکار
                                        </p><p>     شارژ گاز کامل و تکمیلی
                                        </p><p>    نشت یابی تخصصی با گارانتی
                                        </p><p>     مامی خدمات در حضور مشتری و در محل انجام میشود.
                                        </p><p>     تمامی خدمات با ارایه فاکتور و گارانتی ۶ماهه تا ۳ ساله انجام میشود.
                                        </p><p>     دمات در غرب شمال غرب و شمال تهران در اسرع وقت پذیرفته میشود.

                                        </p>
                                        <h3  >راه های تماس</h3>
                                        <div class="col-sm-12">
                                            <span class="fa fa-phone" ></span> 09182858251-08632865877
                                        </div>
                                        <div class="col-sm-12">
                                            <div align="center">
                                                <a href="#" class="custom-link"><img src="<%- host%>/local/images/telegram.png" height="30"></a>
                                                <a href="#" class="custom-link pr-2"><img src="<%- host%>/local/images/instagram.png" height="30"></a>
                                                <a href="#" class="custom-link pr-1"><img src="<%- host%>/local/images/twitter.png" height="30"></a>

                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-12">
                            <div class="p-2 row p-0 m-0">
                                <div class="col-12 m-0 p-0 adv">
                                    <h2  >انجام کلیه خدمات جوشکاری و برشکاری فلزات </h2>
                                </div>
                            </div>

                            <div class="row  ">
                                <div class="col-md-12">
                                    <div class="live__scroll ">
                                        <div class="row text-center">
                                            <div class=" live__scroll--box"><img  class="myImg" alt="انجام کلیه خدمات جوشکاری و برشکاری فلزات" src="300px-GOPR4674.jpg" height="100"></div>
                                            <div class=" live__scroll--box"><img  class="myImg" alt="انجام کلیه خدمات جوشکاری و برشکاری فلزات" src="welder.jpg" height="100"></div>
                                            <div class=" live__scroll--box"><img  class="myImg" alt="انجام کلیه خدمات جوشکاری و برشکاری فلزات" src="creating-a-safe-welding-environment-0.jpg" height="100"></div>
                                            <div class=" live__scroll--box"><img  class="myImg" alt="انجام کلیه خدمات جوشکاری و برشکاری فلزات" src="300px-GOPR4674.jpg" height="100"></div>
                                            <div class=" live__scroll--box"><img  class="myImg" alt="انجام کلیه خدمات جوشکاری و برشکاری فلزات" src="welder.jpg" height="100"></div>
                                            <div class=" live__scroll--box"><img  class="myImg" alt="انجام کلیه خدمات جوشکاری و برشکاری فلزات" src="creating-a-safe-welding-environment-0.jpg" height="100"></div>

                                        </div>
                                    </div>
                                </div>
                                <div class="p-2 row p-0 m-0">
                                    <div class="col-12 m-0 p-0 adv">
                                        <h3  > توضیحات آگهی</h3>
                                        <p>
                                            خدمات فنی مهندسی توچال تهویه اماده خدمت رسانی به شهروندان عزیز تهرانی میباشد.
                                        </p><p> خدمات شامل :
                                        </p><p>   نصب اصولی و استاندارد با گارانتی حداقل یکساله
                                        </p><p>    تعمیرات تخصصی انواع اسپیلت
                                        </p><p>    تعویض تخصصی شیر برقی
                                        </p><p>   تعویض تخصصی کمپرسور
                                        </p><p>     لوله کشی توکار و روکار
                                        </p><p>     شارژ گاز کامل و تکمیلی
                                        </p><p>    نشت یابی تخصصی با گارانتی
                                        </p><p>     مامی خدمات در حضور مشتری و در محل انجام میشود.
                                        </p><p>     تمامی خدمات با ارایه فاکتور و گارانتی ۶ماهه تا ۳ ساله انجام میشود.
                                        </p><p>     دمات در غرب شمال غرب و شمال تهران در اسرع وقت پذیرفته میشود.

                                        </p>
                                        <h3  >راه های تماس</h3>
                                        <div class="col-sm-12">
                                            <span class="fa fa-phone" ></span> 09182858251-08632865877
                                        </div>
                                        <div class="col-sm-12">
                                            <div align="center">
                                                <a href="#" class="custom-link"><img src="<%- host%>/local/images/telegram.png" height="30"></a>
                                                <a href="#" class="custom-link pr-2"><img src="<%- host%>/local/images/instagram.png" height="30"></a>
                                                <a href="#" class="custom-link pr-1"><img src="<%- host%>/local/images/twitter.png" height="30"></a>

                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>


                </div>
            </div>


        </div>
        <div class="col-md-3 mb-md-0  mb-1  ">
            <%- include("layouts/sidebar.ejs",{
            res:res
            }) %>
        </div>

    </div>

</div>
<div class="col-12 bg-dark mt-3 text-white">
    <%- include("layouts/footer.ejs",{
    res:res
    }) %>
</div>


</body>
<%- include layouts/scripts.ejs%>

</html>